Repository seekinginfiniteloop/PlainLicense, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, licenses, ci

updates to submodule script to protect branch
  .github/scripts/update-submodules.sh
  .github/workflows/release-build-deploy.yml
Labels: none

commit before submodule adds
  .github/scripts/update-submodules.sh
Labels: none

debugging submodule update shellscript
  .github/scripts/update-submodules.sh
Labels: none

more shell script debugging
  .github/scripts/update-submodules.sh
  docs/helping/code.md
  external/.gitmodules
Labels: documentation

submodule cleanup
  .gitmodules
Labels: none

finished getting our submodule house in order
  .gitmodules
Labels: none

added submodule external/mkdocs-material and external/license-list-data
  .gitmodules
Labels: none

updated typos config; added comments to hero_shuffle
  _typos.toml
  src/hero/hero/hero_shuffle.ts
Labels: none

finishing up build workflow, reorganizing unused images and images used in build
  .eslintrc
  .github/workflows/release-build-deploy.yml
  build.mjs
  docs/blog/posts/welcome-to-plain-license.md
  package.json
  scripts/image_conversion.py
  src/.reserve/images/logos/favicon_vector.svg
  src/.reserve/images/logos/logo_motto_transparent.png
  src/.reserve/images/logos/logo_only_color_bg.svg
  src/.reserve/images/logos/logo_only_color_transp.svg
  src/.reserve/images/logos/logo_only_unfilled.svg
  src/.reserve/images/logos/named_logo.png
  src/.reserve/images/logos/named_logo.svg
  src/.reserve/images/logos/named_logo_color_transp_nc.svg
  src/.reserve/images/logos/named_logo_motto.svg
  src/.reserve/images/logos/named_logo_motto_transp.svg
  src/.reserve/images/logos/named_logo_motto_transp_nc.svg
  src/base_manifest.json
  src/cache/index.ts
  src/hero/hero/index.ts
  src/hero/index.ts
  src/javascripts/_/index.ts
  src/javascripts/cache/index.ts
  src/javascripts/globals.d.ts
  src/javascripts/hero/_/index.ts
  src/javascripts/hero/animation/index.ts
  src/javascripts/hero/config/index.ts
  src/javascripts/hero/imageshuffle/index.ts
  src/javascripts/hero/index.ts
  src/javascripts/index.ts
  src/javascripts/licenses/index.ts
  tsconfig.json
  tsconfig.material.json
Labels: documentation, ci

css linted
  .stylelintignore
  .stylelintrc
  src/javascripts/hero/animation/index.ts
  src/javascripts/hero/imageshuffle/index.ts
  src/javascripts/index.ts
  src/javascripts/licenses/index.ts
  src/stylesheets/colors.css
  src/stylesheets/extra.css
  src/stylesheets/home.css
  src/stylesheets/license.css
Labels: ci

major refactor on build to use RxJs and handle url hashing
  .github/src/index.ts
  .github/tsconfig.json
  .github/workflows/release-build-deploy.yml
  build.mjs
  package-lock.json
  package.json
  src/base_manifest.json
  src/build/build.ts
  src/build/config/index.ts
  src/build/index.ts
  src/build/newbuild.ts
  src/build/tsconfig.json
  tsconfig.json
Labels: dependencies, ci

done refacting javascript, especially simplfying image shuffle handling on the hero landing page
  .sourcery.yaml
  _typos.toml
  mkdocs.yml
  overrides/.icons/nounproject/copyleft-icon.svg
  overrides/.icons/nounproject/copyright-icon.svg
  overrides/.icons/nounproject/pd-icon.svg
  overrides/buldmeta.html
  overrides/home.html
  overrides/images/social_logo.png
  overrides/main.html
  overrides/partials/logo.html
  overrides/partials/social.html
  package-lock.json
  package.json
  src/.reserve/images/logos/copyleft-icon.svg
  src/.reserve/images/logos/copyright-icon.svg
  src/.reserve/images/logos/named_logo.svg
  src/.reserve/images/logos/named_logo_color_transp.svg
  src/.reserve/images/logos/named_logo_color_transp_nc.svg
  src/.reserve/images/logos/named_logo_motto.svg
  src/.reserve/images/logos/named_logo_motto_transp.svg
  src/.reserve/images/logos/named_logo_motto_transp_nc.svg
  src/.reserve/images/logos/pd-icon.svg
  src/build/config/index.ts
  src/build/index.ts
  src/images/logo_named.svg
  src/images/logo_only_color_transp.webp
  src/javascripts/cache/index.ts
  src/javascripts/hero/config/index.ts
  src/javascripts/hero/imageshuffle/_types.d.ts
  src/javascripts/hero/imageshuffle/index.ts
  src/javascripts/index.ts
  src/stylesheets/heroimages.css
  src/stylesheets/home.css
Labels: dependencies

still working out build kinks
  .sourcery.yaml
  package-lock.json
  package.json
  src/build/config/index.ts
  src/build/index.ts
  src/javascripts/cache/index.ts
  src/javascripts/hero/animation/index.ts
  src/javascripts/hero/imageshuffle/index.ts
  src/javascripts/hero/index.ts
  src/javascripts/index.ts
  src/javascripts/licenses/index.ts
  tools/build/config/index.js
  tools/build/config/index.js.map
  tools/build/index.js
  tools/build/index.js.map
  tsconfig.json
Labels: dependencies

savings changes before git ops
  src/build/config/index.ts
  src/build/index.ts
  src/javascripts/_/index.ts
  src/javascripts/bundle.ts
  src/stylesheets/_config.scss
  src/stylesheets/main.scss
  src/stylesheets/palette.scss
  tools/build/config/index.js
  tools/build/config/index.js.map
  tools/build/index.js
  tools/build/index.js.map
  tsconfig.json
Labels: none

Update tsconfig.json
  tsconfig.json
Labels: none

commit before git ops;
  .eslintcache
  docs/assets/chunks/chunk.ANB2HEQQ.js
  docs/assets/chunks/chunk.ANB2HEQQ.js.map
  docs/assets/fonts/bangers-regular.BIV5PPSH.woff2
  docs/assets/fonts/bangers-regular.R7KO3CUO.woff
  docs/assets/fonts/inter-v.5HMTI5F7.woff2
  docs/assets/fonts/inter-v.7SVEWXQR.woff
  docs/assets/fonts/sourcecodepro-regular.CK7SPIOU.woff2
  docs/assets/fonts/sourcecodepro-regular.RMOD3HU7.woff
  docs/assets/javascripts/index.7CAD3U5R.js
  docs/assets/javascripts/index.7CAD3U5R.js.map
  docs/assets/stylesheets/bundle.M63CG3BZ.css
  docs/assets/stylesheets/bundle.M63CG3BZ.css.map
  docs/assets/stylesheets/bundle.TWM522YI.css
  docs/assets/stylesheets/bundle.TWM522YI.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/main.html
  package-lock.json
  package.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/imageshuffle/types.d.ts
  src/assets/javascripts/index.ts
  src/build/config/index.ts
  src/build/config/types.d.ts
  src/build/index.ts
  src/build/types.d.ts
  tools/build/config/index.js
  tools/build/config/index.js.map
  tools/build/index.js
  tools/build/index.js.map
  tsconfig.json
Labels: dependencies, ci

most of the build kinks worked out; now actual debugging
  .eslintcache
  .github/workflows/release-build-deploy.yml
  docs/assets/fonts/bangers-regular.BIV5PPSH.woff2
  docs/assets/fonts/bangers-regular.R7KO3CUO.woff
  docs/assets/fonts/inter-v.5HMTI5F7.woff2
  docs/assets/fonts/inter-v.7SVEWXQR.woff
  docs/assets/fonts/sourcecodepro-regular.CK7SPIOU.woff2
  docs/assets/fonts/sourcecodepro-regular.RMOD3HU7.woff
  docs/assets/javascripts/index.NXSFIIYW.js
  docs/assets/javascripts/index.NXSFIIYW.js.map
  docs/assets/javascripts/index.U3ZVAFAB.css
  docs/assets/javascripts/index.U3ZVAFAB.css.map
  docs/assets/javascripts/index.YFF43BBM.js
  docs/assets/javascripts/index.YFF43BBM.js.map
  docs/assets/stylesheets/bundle.CTGMAABR.css
  docs/assets/stylesheets/bundle.CTGMAABR.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/main.html
  package-lock.json
  package.json
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/imageshuffle/types.d.ts
  src/build/index.ts
  tools/build/index.js
  tools/build/index.js.map
  tsconfig.json
Labels: dependencies, ci

more debugging
  .eslintcache
  docs/assets/javascripts/feedback.js
  docs/assets/javascripts/index.EK2BMHRD.js
  docs/assets/javascripts/index.EK2BMHRD.js.map
  docs/assets/javascripts/index.NXSFIIYW.js
  docs/assets/javascripts/index.NXSFIIYW.js.map
  docs/assets/javascripts/index.YFF43BBM.js
  docs/assets/javascripts/index.YFF43BBM.js.map
  docs/assets/javascripts/pixel.js
  docs/assets/javascripts/tablesort.js
  docs/assets/stylesheets/bundle.CTGMAABR.css
  docs/assets/stylesheets/bundle.CTGMAABR.css.map
  docs/assets/stylesheets/bundle.XIYCMOJW.css
  docs/assets/stylesheets/bundle.XIYCMOJW.css.map
  docs/helping/code.md
  docs/meta.json
  mkdocs.yml
  overrides/buildmeta.json
  overrides/main.html
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/feedback/index.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/javascripts/index.ts
  src/assets/stylesheets/home.css
  src/build/index.ts
  tools/build/index.js
  tools/build/index.js.map
Labels: documentation, ci

I had lost most of this work on accident... so back to where I was
  .gitignore
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/index.ts
  src/assets/javascripts/index.ts
Labels: none

improved heroimage shuffling subscription
  .eslintcache
  docs/assets/javascripts/index.2RGOO7WO.js
  docs/assets/javascripts/index.2RGOO7WO.js.map
  docs/assets/javascripts/index.KZSRW5JX.js
  docs/assets/javascripts/index.KZSRW5JX.js.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/hero/imageshuffle/index.ts
Labels: ci

refining imageshuffle
  src/assets/javascripts/hero/imageshuffle/index.ts
Labels: none

lots of bug fixes in hero landing page scripts
  .eslintcache
  docs/assets/javascripts/index.2RGOO7WO.js
  docs/assets/javascripts/index.2RGOO7WO.js.map
  docs/assets/javascripts/index.V7O345B5.js
  docs/assets/javascripts/index.V7O345B5.js.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/imageshuffle/types.d.ts
  src/build/index.ts
  tools/build/index.js
  tools/build/index.js.map
Labels: ci

debugging animations
  .eslintcache
  docs/assets/javascripts/index.A3JSDM4S.js
  docs/assets/javascripts/index.A3JSDM4S.js.map
  docs/assets/javascripts/index.V7O345B5.js
  docs/assets/javascripts/index.V7O345B5.js.map
  docs/assets/stylesheets/bundle.JOAPMN74.css
  docs/assets/stylesheets/bundle.JOAPMN74.css.map
  docs/assets/stylesheets/bundle.TLHEMWLC.css
  docs/assets/stylesheets/bundle.TLHEMWLC.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Labels: ci

bug fixes and refactoring of hero elements
  .eslintcache
  docs/assets/javascripts/index.A3JSDM4S.js
  docs/assets/javascripts/index.A3JSDM4S.js.map
  docs/assets/javascripts/index.T6VAGGGZ.js
  docs/assets/javascripts/index.T6VAGGGZ.js.map
  docs/assets/stylesheets/bundle.JOAPMN74.css
  docs/assets/stylesheets/bundle.JOAPMN74.css.map
  docs/assets/stylesheets/bundle.V3LLSFJB.css
  docs/assets/stylesheets/bundle.V3LLSFJB.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  overrides/partials/easter.html
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/build/config/index.ts
  src/build/index.ts
  tools/build/config/index.js
  tools/build/config/index.js.map
  tools/build/index.js
  tools/build/index.js.map
Labels: ci

fixed a bug when hero images started recycling, and another with how the noscript image was populating (first in build json, then in env python hook)
  .eslintcache
  docs/assets/javascripts/index.OAILEXLX.js
  docs/assets/javascripts/index.OAILEXLX.js.map
  docs/assets/javascripts/index.T6VAGGGZ.js
  docs/assets/javascripts/index.T6VAGGGZ.js.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/hooks/env_settings.py
  overrides/hooks/update_site_license.py
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/build/index.ts
  tools/build/index.js
  tools/build/index.js.map
Labels: ci

so, so very close. Main functionality all there; finishing up hero animations.
  .eslintcache
  docs/assets/fonts/raleway.26K4BVKC.woff
  docs/assets/fonts/raleway.FJCY4DUZ.woff2
  docs/assets/javascripts/index.62CEJ7U4.js
  docs/assets/javascripts/index.62CEJ7U4.js.map
  docs/assets/javascripts/index.OAILEXLX.js
  docs/assets/javascripts/index.OAILEXLX.js.map
  docs/assets/stylesheets/bundle.DU7JQ27A.css
  docs/assets/stylesheets/bundle.DU7JQ27A.css.map
  docs/assets/stylesheets/bundle.V3LLSFJB.css
  docs/assets/stylesheets/bundle.V3LLSFJB.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  overrides/license.html
  overrides/partials/easter.html
  overrides/partials/license_toc.html
  src/assets/fonts/raleway.woff
  src/assets/fonts/raleway.woff2
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/hero/imageshuffle/types.d.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/stylesheets/bodyfont.css
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Labels: ci

syncing up some changes before git ops
  .eslintcache
  docs/assets/javascripts/index.62CEJ7U4.js
  docs/assets/javascripts/index.62CEJ7U4.js.map
  docs/assets/javascripts/index.IQMRBVDA.js
  docs/assets/javascripts/index.IQMRBVDA.js.map
  docs/assets/stylesheets/bundle.DU7JQ27A.css
  docs/assets/stylesheets/bundle.DU7JQ27A.css.map
  docs/assets/stylesheets/bundle.EWXIUQ2Y.css
  docs/assets/stylesheets/bundle.EWXIUQ2Y.css.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/images/hero/abstract/abstract_1280.avif
  src/assets/images/hero/abstract/abstract_1920.avif
  src/assets/images/hero/abstract/abstract_2560.avif
  src/assets/images/hero/abstract/abstract_3840.avif
  src/assets/javascripts/hero/imageshuffle/data/index.ts
  src/assets/stylesheets/home.css
Labels: ci

linting
  .eslintcache
  .gitignore
  .sourcery.yaml
  .stylelintignore
  .stylelintrc
  docs/assets/stylesheets/bundle.EWXIUQ2Y.css
  docs/assets/stylesheets/bundle.EWXIUQ2Y.css.map
  docs/assets/stylesheets/bundle.GI6BMYBO.css
  docs/assets/stylesheets/bundle.GI6BMYBO.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  src/.reserve/placeholder.txt
  src/assets/javascripts/feedback/index.ts
  src/assets/stylesheets/bodyfont.css
  src/assets/stylesheets/colors.css
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
  src/assets/stylesheets/license.css
Labels: ci

build after linting fixes
  .eslintcache
  docs/assets/javascripts/index.3LXPIGRP.js
  docs/assets/javascripts/index.3LXPIGRP.js.map
  docs/assets/javascripts/index.IQMRBVDA.js
  docs/assets/javascripts/index.IQMRBVDA.js.map
  docs/assets/stylesheets/bundle.GI6BMYBO.css
  docs/assets/stylesheets/bundle.GI6BMYBO.css.map
  docs/assets/stylesheets/bundle.HJ5EHKFY.css
  docs/assets/stylesheets/bundle.HJ5EHKFY.css.map
  docs/meta.json
  overrides/buildmeta.json
  package-lock.json
  package.json
Labels: dependencies, ci

reimplemented cache strategy and cleanup
  .eslintcache
  .eslintrc
  docs/assets/javascripts/index.3LXPIGRP.js
  docs/assets/javascripts/index.3LXPIGRP.js.map
  docs/assets/javascripts/index.PVVL3JDN.js
  docs/assets/javascripts/index.PVVL3JDN.js.map
  docs/meta.json
  overrides/buildmeta.json
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/feedback/index.ts
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
Labels: ci

trying to simplify hero css after it got mangled by trial and error
  .eslintcache
  docs/assets/javascripts/index.3EDNW5DH.js
  docs/assets/javascripts/index.3EDNW5DH.js.map
  docs/assets/javascripts/index.PVVL3JDN.js
  docs/assets/javascripts/index.PVVL3JDN.js.map
  docs/assets/stylesheets/bundle.HJ5EHKFY.css
  docs/assets/stylesheets/bundle.HJ5EHKFY.css.map
  docs/assets/stylesheets/bundle.RG2TGSBW.css
  docs/assets/stylesheets/bundle.RG2TGSBW.css.map
  docs/meta.json
  mkdocs.yml
  overrides/buildmeta.json
  overrides/home.html
  overrides/hooks/_logconfig.py
  overrides/hooks/content_assembly.py
  overrides/hooks/env_settings.py
  overrides/hooks/socialmedia.py
  overrides/hooks/update_changelogs.py
  overrides/hooks/update_site_license.py
  overrides/main.html
  overrides/partials/hero_tabs.html
  overrides/partials/herobody.html
  overrides/partials/herolanding.html
  overrides/partials/home-tabs.html
  src/assets/javascripts/cache/index.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/index.ts
  src/assets/stylesheets/colors.css
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Labels: ci

finishing touches... really..
  .eslintcache
  docs/assets/javascripts/index.3DGH6VKB.js
  docs/assets/javascripts/index.3DGH6VKB.js.map
  docs/assets/javascripts/index.3EDNW5DH.js
  docs/assets/javascripts/index.3EDNW5DH.js.map
  docs/assets/stylesheets/bundle.KN7OG6FS.css
  docs/assets/stylesheets/bundle.KN7OG6FS.css.map
  docs/assets/stylesheets/bundle.RG2TGSBW.css
  docs/assets/stylesheets/bundle.RG2TGSBW.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  overrides/partials/easter.html
  overrides/partials/herobody.html
  overrides/partials/herolanding.html
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/colors.css
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/heroimages.css
  src/assets/stylesheets/home.css
Labels: ci

removed complicated grid structure at hero nav in favor of list items; just need to work out formatting
  .eslintcache
  docs/assets/javascripts/index.3DGH6VKB.js
  docs/assets/javascripts/index.3DGH6VKB.js.map
  docs/assets/javascripts/index.XCL5J3QV.js
  docs/assets/javascripts/index.XCL5J3QV.js.map
  docs/assets/stylesheets/bundle.EVHPAEUV.css
  docs/assets/stylesheets/bundle.EVHPAEUV.css.map
  docs/assets/stylesheets/bundle.KN7OG6FS.css
  docs/assets/stylesheets/bundle.KN7OG6FS.css.map
  docs/meta.json
  overrides/buildmeta.json
  overrides/home.html
  overrides/partials/heroheader.html
  overrides/partials/herolanding.html
  src/assets/javascripts/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/extra.css
  src/assets/stylesheets/home.css
Labels: ci

changing format for highlights on landing page, hopefully will simplify it. Moved to material's grid cards.
  overrides/.icons/nounproject/about.svg
  overrides/.icons/nounproject/compare.svg
  overrides/.icons/nounproject/formats.svg
  overrides/.icons/nounproject/hero.svg
  overrides/.icons/nounproject/lighthouse.svg
  overrides/.icons/nounproject/page.svg
  overrides/.icons/nounproject/understand.svg
  overrides/partials/herolanding.html
Labels: none

getting there... content is where it should be. CSS is cleaner. I broke a couple things in the process...
  .eslintcache
  .github/scripts/update-submodules.sh
  .github/workflows/release-build-deploy.yml
  docs/assets/stylesheets/bundle.6CWUI2VC.css
  docs/assets/stylesheets/bundle.6CWUI2VC.css.map
  docs/assets/stylesheets/bundle.EVHPAEUV.css
  docs/assets/stylesheets/bundle.EVHPAEUV.css.map
  docs/index.md
  docs/meta.json
  overrides/.icons/nounproject/about.svg
  overrides/.icons/nounproject/compare.svg
  overrides/.icons/nounproject/formats.svg
  overrides/.icons/nounproject/hero.svg
  overrides/.icons/nounproject/lighthouse.svg
  overrides/.icons/nounproject/understand.svg
  overrides/buildmeta.json
  overrides/home.html
  overrides/hooks/env_settings.py
  overrides/partials/herolanding.html
  package.json
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  src/assets/stylesheets/home.css
  uv.lock
Labels: documentation, dependencies, ci

working out some kinks... somewhere along the lines my licenses stopped rendering correctly...
  .eslintcache
  .linthtmlrc.yaml
  docs/assets/stylesheets/bundle.6CWUI2VC.css
  docs/assets/stylesheets/bundle.6CWUI2VC.css.map
  docs/assets/stylesheets/bundle.7BOIOEZU.css
  docs/assets/stylesheets/bundle.7BOIOEZU.css.map
  docs/faq/index.md
  docs/helping/code.md
  docs/helping/commit.md
  docs/helping/craft.md
  docs/helping/donate.md
  docs/helping/index.md
  docs/helping/legal.md
  docs/helping/translate.md
  docs/helping/write.md
  docs/licenses/copyleft/index.md
  docs/licenses/copyleft/mpl-2.0/index.md
  docs/licenses/index.md
  docs/licenses/permissive/index.md
  docs/licenses/proprietary/index.md
  docs/licenses/public-domain/index.md
  docs/licenses/source-available/index.md
  docs/meta.json
  overrides/buildmeta.json
  overrides/hooks/_logconfig.py
  overrides/hooks/content_assembly.py
  overrides/hooks/env_settings.py
  overrides/license.html
  overrides/partials/license_changelog_tab.md
  overrides/partials/license_markdown_tab.md
  overrides/partials/license_official_tab.md
  overrides/partials/license_plaintext_tab.md
  overrides/partials/license_reader_tab.md
  pyproject.toml
  src/assets/stylesheets/license.css
  uv.lock
Labels: documentation, dependencies, licenses, ci

refining license testing hook
  .package.json.kate-swp
  bun.lockb
  mkdocs.yml
  overrides/hooks/_logconfig.py
  overrides/hooks/buildtest.py
  package.json
  pyproject.toml
  uv.lock
Labels: dependencies

build canary implementation almost done
  mkdocs.yml
  overrides/hooks/_logconfig.py
  overrides/hooks/buildtest.py
  overrides/hooks/content_assembly.py
  overrides/hooks/env_settings.py
  overrides/hooks/hook_logger.py
  overrides/hooks/license_canary.py
  overrides/hooks/socialmedia.py
  overrides/hooks/update_changelogs.py
  overrides/hooks/update_site_license.py
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: ci

bug fixing on license build... here I thought I had that resolved a month ago...
  UNLICENSE
  docs/blog/posts/welcome-to-plain-license.md
  docs/licenses/copyleft/mpl-2.0/index.md
  docs/licenses/permissive/mit/index.md
  mkdocs.yml
  overrides/hooks/buildtest.py
  overrides/hooks/content_assembly.py
  overrides/hooks/env_settings.py
  overrides/hooks/hook_logger.py
  overrides/hooks/license_canary.py
  overrides/hooks/socialmedia.py
  overrides/hooks/update_changelogs.py
  overrides/hooks/update_site_license.py
  overrides/license.html
Labels: documentation, licenses

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']


dependencies:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', '*-lock.json', '*.lock', 'requirements*', 'uv']

licenses:
  - changed-files:
    - any-glob-to-any-file: ['docs/licenses/**/**/*.md', 'LICENSE_TEMPLATE.md']

ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/*', 'commitlint*', '*lint*']

scripts:
  - changed-files:
    - any-glob-to-all-files: ['*.js', '*.ts', '*scripts/*', '*.sh']


# i18n:
# question:
# bug:
# enhancement
