Repository seekinginfiniteloop/PlainLicense, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, licenses, ci

.github/labeler.yml:

documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md']


dependencies:
  - changed-files:
    - any-glob-to-any-file: ['pyproject.toml', '*-lock.json', '*.lock', 'requirements*', 'uv']

licenses:
  - changed-files:
    - any-glob-to-any-file: ['docs/licenses/**/**/*.md', 'LICENSE_TEMPLATE.md']

ci:
  - changed-files:
    - any-glob-to-any-file: ['.github/*', 'commitlint*', '*lint*']

scripts:
  - changed-files:
    - any-glob-to-all-files: ['*.js', '*.ts', '*scripts/*', '*.sh']


# i18n:
# question:
# bug:
# enhancement

moved to devcontainer; bump to 3.13
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .python-version
  overrides/hooks/content_assembly.py
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  ruff.toml
  setup.sh
  uv.lock
Labels: dependencies, ci

updates to dependabot, devcontainer
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  uv.lock
Labels: dependencies, ci

dev container all set up
  .devcontainer/devcontainer.json
  .sourcery.yaml
  bun.lockb
  pyproject.toml
  uv.lock
Labels: dependencies

minor cleaning to devcontainer.json
  .devcontainer/devcontainer.json
Labels: none

dependabot and devcontainer updates
  .devcontainer/devcontainer.json
  .eslintrc
  .github/dependabot.yml
  _typos.toml
Labels: ci

Update license_tags.html
  overrides/partials/license_tags.html
Labels: none

work on license css/html and rendering. Simplified some javascript and took an almost-all-css approach to license handling
  .eslintcache
  bun.lockb
  docs/assets/javascripts/index.NGI4FCOJ.js
  docs/assets/javascripts/index.NGI4FCOJ.js.map
  docs/assets/javascripts/index.QNFKGS2U.js
  docs/assets/javascripts/index.QNFKGS2U.js.map
  docs/assets/stylesheets/bundle.OGTQU7GO.css
  docs/assets/stylesheets/bundle.OGTQU7GO.css.map
  docs/assets/stylesheets/bundle.TOUAERHV.css
  docs/assets/stylesheets/bundle.TOUAERHV.css.map
  docs/meta.json
  eslint.config.mjs
  mkdocs.yml
  overrides/buildmeta.json
  overrides/hooks/content_assembly.py
  overrides/license.html
  overrides/partials/license_disclaimer_block.html
  overrides/partials/license_tags.html
  overrides/partials/license_toc.html
  package.json
  src/assets/javascripts/globals.d.ts
  src/assets/javascripts/hero/animation/index.ts
  src/assets/javascripts/hero/imageshuffle/index.ts
  src/assets/javascripts/index.ts
  src/assets/javascripts/licenses/index.ts
  src/assets/javascripts/utils/index.ts
  src/assets/stylesheets/license.css
Labels: ci

license css refinement and bug fixes
  .eslintcache
  docs/assets/stylesheets/bundle.2IZIGZWK.css
  docs/assets/stylesheets/bundle.2IZIGZWK.css.map
  docs/assets/stylesheets/bundle.TOUAERHV.css
  docs/assets/stylesheets/bundle.TOUAERHV.css.map
  docs/meta.json
  mkdocs.yml
  overrides/buildmeta.json
  overrides/partials/license_tags.html
  src/assets/stylesheets/license.css
Labels: ci

implementing license generation in python to avoid formatting issues
  overrides/hooks/license_assembly.py
  overrides/hooks/license_canary.py
  overrides/partials/license_tags.html
  src/assets/stylesheets/license.css
Labels: none

update container config
  .devcontainer/devcontainer.json
Labels: none

moving license assembly to an all-python approach for consistency and simplicity
  .devcontainer/devcontainer.json
  LICENSE_TEMPLATE.md
  bun.lockb
  docs/helping/code.md
  mkdocs.yml
  overrides/embedded_license.html
  overrides/hooks/license_assembly.py
  overrides/license.html
Labels: documentation, licenses
